
AnchorPane{
    -fx-background-image: url("main_image.jfif");
    -fx-background-size: cover;
    -fx-background-repeat: stretch;
}

Label{
    -fx-font-size: 69px;
    -fx-font-family: "Forte";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

Label:hover {
    -fx-text-fill: #ff1217;
}

.button {
    -fx-background-color: #000000;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 6;
    -fx-padding: 20 20 20 20;
    -fx-text-fill: #B22222;
    -fx-font-size: 26px;
    -fx-font-family: 'Arial ';
    -fx-font-weight: bold;
}

.button:hover{
    -fx-background-color: #B22222;
    -fx-text-fill: #000000;
}

.button:pressed{
    -fx-background-color: #eb5725;
}


.mainLabel{
    -fx-font-size: 70px;
    -fx-font-weight: bold;
    -fx-font-family: "Papyrus";
}


#AnchorPane{
    -fx-background-image: url("main_image.jfif");
    -fx-background-size: cover;
}

#wonLabel {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #ff4038;
}

#backToMenuButton {
    -fx-margin-top: 260px;
}